[alias]
  co = checkout
  ci = commit
  st = status -s
  br = branch
  sl = stash list
  sa = stash apply
  ss = stash save
  type = cat-file -t
  dump = cat-file -p
  graph = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  diff = diff --word-diff
  difr = diff --word-diff=color HEAD origin/develop
  recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | grep -v develop | head -n 20 
[diff]
  tool = meld
[pull]
  rebase = true
[push]
  default = current
[rerere]
  enabled = true
[color]
  ui = true
[user]
  name = Eduardo Lanchares
  email = eduardo@elanchares.com
[core]
  excludesfile = ~/.gitignore_global
