[alias]
  co = checkout
  ci = commit
  st = status -s
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[diff]
  tool = meld
[pull]
  rebase = true
[push]
  default = current
[rerere]
  enabled = true
[color]
  ui = true
