[alias]
  co = checkout
  ci = commit
  st = status -s
  br = branch
  sl = stash list
  sa = stash apply
  ss = stash save
  type = cat-file -t
  dump = cat-file -p
  graph = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  hisf = log --follow -p --
  diff = diff --word-diff
  difr = "!f() { git diff --word-diff=color HEAD `git rev-parse --abbrev-ref --symbolic-full-name @{u}`; }; f"
  recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | grep -v develop | head -n 20 
  fuznav = "!f() { git recent | fzf --prompt='Select branch to checkout' | xargs git co; }; f"
  fuzreb = "!f() { git rebase -i $(git log --pretty=format:'%h%d %s %cn' | fzf --prompt='Select commit to rebase' | cut -d' ' -f1)^; }; f"
  fuzshow = "!f() { git show $(git log --pretty=format:'%h%d %s %cn' | fzf --prompt='Select commit to rebase' | cut -d' ' -f1); }; f"
[diff]
  tool = meld
[pull]
  rebase = true
[push]
  default = current
[rerere]
  enabled = true
[color]
  ui = true
[user]
  name = Eduardo Lanchares
  email = eduardo@elanchares.com
[core]
  excludesfile = ~/.gitignore_global
